html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #fdffff;
}

.grid-container {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

@font-face {
  font-family: "Stoked";
  src: url("../src/fonts/Stoked/stoked.ttf");
}

@font-face {
  font-family: "Distrito";
  src: url("../src/fonts/Distrito/Distrito-caps.otf");
}

@font-face {
  font-family: "Ikaros";
  src: url("../src/fonts/Ikaros/Ikaros-Regular.otf");
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 400px;
  font-family: "Ikaros"
}

h2 {
  font-size: 50px;
  font-family: "Ikaros";
}

h3 {
  font-size: 40px;
  font-family: "Ikaros";
}

h4 {
  font-size: 30px;
  font-family: "Ikaros";
}

p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
}

.Title {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  color: #730224;
  background-color: #fdffff;
}

.Title-Sub {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding-bottom: 30px;
  color: #730224;
  background-color: #fdffff;
}